<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
		{{ bootstrap.load_css() }}

	</head>
	<body>
        <div class="container form-signin w-25 m-auto">
		
        <!-- This is where our form will go. -->
		<form method="POST" action={{ url_for('login') }} novalidate>
			{{ form.hidden_tag() }}
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
		
			<div class="form-floating">
			{{form.email.label}}
			 {{form.email(class="form-control mb-2", id="floatingInput", placeholder="Email", size=30) }}
			 {% for err in form.email.errors %}
			 <div class="alert alert-danger" role="alert" style="color: red">
			 {{ err }}
			 </div>
			 {% endfor %}
			</div>
			<div class="form-floating">
			  {{form.password.label}}
			  {{form.password(class="form-control mb-2", id="floatingPassword", placeholder="Password", size=30) }}
			  {% for err in form.password.errors %}
			 <div class="alert alert-danger" role="alert" style="color: red">
			 {{ err }}
			 </div>
			 {% endfor %}
			</div>
		
			{{form.submit(class="btn btn-primary w-100 py-2")}}
		
		  </form>

        </div>
		{{ bootstrap.load_js() }}
	</body>
</html>